{% extends "template.html" %}
{% block content %}
<div class="row bg-white rounded py-4">
<div class="col-md-2"></div>
<div class="col-md-8">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="text-info" href="{{ url_for('home') }}">Main</a></li>
      <li class="breadcrumb-item active" aria-current="page">Practice</li>
    </ol>
  </nav>
            <h3 class="display-4">Let's begin!</h3>
              <!-- <form method="POST" action=""> -->
                <fieldset class="form-group  my-0 py-0">
                  <div class="form-group  my-0 py-0">
                    <strong><p class="lead"><span class="badge badge-info mr-2">1</span>Type in the sentence you want to practice today:</p></strong>
                      <p class="text-info ml-5 my-0 py-0 font-weight-bold">{{ correct_text }}</p>
                  </div>
                </fieldset>

              <hr>
              <strong><p class="lead"><span class="badge badge-info mr-2">2</span>This is how it sounds:</p></strong>

              <audio id="correct_audio" preload="auto" controls>
                <source id="correct_source" src="{{ correct_sound_address }}" type="audio/wav">
                    Your browser does not support the audio element.
              </audio>

              <hr>
                <strong><p class="lead"><span class="badge badge-info mr-2">3</span>Ready to practice? You can record yourself
                  speaking here. To save your recording, click "Save to Disk"</p></strong>

                <div id="controls">
              	 <button id="recordButton" class="btn btn-sm btn-info">Record</button>
              	 <button id="pauseButton" class="btn btn-sm btn-warning" disabled>Pause</button>
              	 <button id="stopButton" class="btn btn-sm btn-danger" disabled>Stop</button>
                </div>
                <div id="formats"></div>
                <br/>
              	<p>Your recordings:</p>
              	<ol id="recordingsList"></ol>



                <hr>

                <strong><p class="lead"><span class="badge badge-info mr-2">4</span>Upload your recording:</p></strong>
                <form method="POST" action="" enctype="multipart/form-data">
                  {{ user_form.hidden_tag() }}
                  <fieldset class="form-group">
                    <div class="form-group">
                      {{ user_form.user_speech(class="form-control-file") }}
                      {% if user_form.user_speech.errors %}
                        {% for error in user_form.user_speech.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                      <!-- <input type="file" accept="audio/* class="form-control" id="user_speech" name="user_speech"  value="" capture> -->
                    </div>
                  </fieldset>
                  <div class="row my-0 py-0">
                    <div class="col text-center  my-0 py-0">
                      <!-- <div class="form-group"> -->
                        {{ user_form.submitu(class="btn btn-outline-info") }}
                      <!-- </div> -->
                    </div>
                  </div>

              </form>


              </div>

              <div class="col-md-2"></div>

              </div>
{% endblock content %}
