{% if upload_form.receipt_image.errors %}
                            {{ upload_form.receipt_image(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                            {% for error in upload_form.receipt_image.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                        <div class="custom-file">
                            <!-- custom-file-input", type="file", id="customFile" -->
                                {{ upload_form.receipt_image(class="form-control-file")}} 
                                <!-- <label class="custom-file-label" for="customFile">Select image...</label> -->
                               
                        </div>
                        {% endif %}


<div class="form-group">
    {{ upload_form.date.label(class="form-control-label lead") }}
    {{ upload_form.date(class="form-control", type="date") }}
</div>


{{ detail.render_field(detail.person_name) }}
                        {{ detail.render_field(detail.person_telephone) }}